# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Maze.opensdf
Maze.sdf
Maze.sdf
Maze.suo
Maze/Maze.vcxproj.user
ipch/maze-776a92c1/maze-89c3acd9.ipch
Maze.sdf
Maze.sdf
Maze/Maze.vcxproj
Maze/Maze.vcxproj.filters
*.sdf
Debug/Maze.ilk
Maze.sdf
Maze/Debug/Orientation.obj
Maze/Debug/Maze.obj
Maze/Debug/Maze.lastbuildstate
Maze/Debug/main.obj
Maze/Debug/link.read.1.tlog
*.pdb
*.tlog
*.obj
Debug/Maze.exe
